.sidebar li > a{
    text-align: left;
}

.sidebar {
    max-height: 85%;
    overflow-y: auto;
}

.search {
    max-height: 75%;
    overflow-y: auto;
}

.loading span{
    font-weight: bold;
    font-size: 24px;
}

.itemFooter{
    border-bottom: 1px solid grey;
}

.green {
    font-weight: bold;
    color: green;
}

.red {
    font-weight: bold;
    color: red;
}

.star {
    color: gold;
}

.pointer:hover {
    cursor: pointer;
}

.bubble {
    background-color: #F2F2F2;
    border-radius:    5px;
    border:           1px solid #bbb;
    box-shadow:       0 1px 6px #B2B2B2;;
    display:          block;
    padding:          10px 18px;
    margin:           1em (6px + 12px);
    position:         relative;
    vertical-align:   top;
}

.panel-heading:hover{
    cursor: pointer;
}

.input-group-btn {
    padding: 0px !important;
}

.label-lg{
    font-size: 100%
}

.twitter-typeahead{
    display: block !important;
}
