@(user: String, email: Option[String] = None)(implicit rh: RequestHeader)

@main("Profile | " + user, templates()) {
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <h4>My Items</h4>
        <hr>
        <div data-bind="template: {name: 'fullItemTmpl', foreach: items}"></div>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <h4>Notifications</h4>
        <hr>
        <div class="input-group">
            <input type="email" class="form-control" data-bind="value: email" placeholder="Type email for new player posts"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: saveEmail">Save</button>
            </span>
        </div>
        <br>
        <h4>Players Followed</h4>
        <hr>
        <!-- ko foreach: players -->
        <div class="media">
            <a class="pull-left" data-bind="attr: {href: '/players?id=' + id()}">
                <img data-bind="attr: {src: imageUrl()}" class="img-thumbnail media-object"/>
            </a>
            <div class="media-body">
                <h4 class="media-content"><a data-bind="attr: {href: '/players?id=' + id()}, text: name()"></a></h4>
                <div data-bind="template: {name: 'followPlayerButton'}"></div>
            </div>
        </div>
        <!-- /ko -->
        <br>
        <h4>Tags Followed</h4>
        <hr>
        <table class="table table-condensed table-striped">
            <tbody data-bind="foreach: tags">
            <tr>
                <td><a data-bind="text: text(), attr: {href: '/tags?tag=' + text()}"></a></td>
                <td data-bind="text: value()"></td>
                <td><div data-bind="template: {name: 'followTagButton'}"></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
}

<script>
function Dashboard(){
    var self = this;
    ko.utils.extend(self, new Social());
    self.items = ko.observableArray([])

    routes.controllers.Users.items('@user').ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                var item = parseItem(data[i]);
                if(item){
                    self.items.push(item)
                }
            }
        },
        error: function(data){
            console.log(data)
        }
    })

    self.players = ko.observableArray([])
    routes.controllers.Users.players().ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                self.players.push(new Player(data[i]))
            }
        },
        error: function(data){
            console.log(data)
        }
    })

    self.tags = ko.observableArray([])
    routes.controllers.Users.tags().ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                self.tags.push(new Tag(data[i]))
            }
        },
        error: function(data){
            console.log(data)
        }
    })

    self.save = function(item){
        var js = item.js();
        routes.controllers.Players.save().ajax({
            data: ko.toJSON(js),
            contentType: 'text/json',
            success: function(data){
                closeModal();
            },
            error: function(data){
                console.log(data);
            }
        })
    }

    self.email = ko.observable()
    self.saveEmail = function(){
        routes.controllers.Users.saveEmail(self.email()).ajax({
            success: function(data){
                success("E-mail notification saved successfully!")
            },
            error: function(data){
                error("There was an issue saving your e-mail, please try again later")
                console.log(data)
            }
        })
    }
}

var dash = new Dashboard()
ko.applyBindings(dash)

@for(e <- email){
    dash.email('@e')
}
</script>