@(player: Player, itemId: String, tags: Seq[String])

<p>A new @itemId was just added for @player.firstName @player.lastName.</p>
<strong>Tags</strong>
<ul>
    @for(t <- tags){
    <li>@t</li>
    }
</ul>

To see the post, <a target="_blank" href="http://scoutmaster.josephpconley.com/players?id=@player.id">click here</a>