@()(implicit rh: RequestHeader)

@main("Dashboard", templates()) {
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <h4>Recent Activity</h4>
            <hr>
            <div class="loading" data-bind="visible: loading()">
                <i class="fa fa-refresh fa-spin fa-3x"></i><span> Loading...</span>
            </div>
            <!-- ko foreach: items -->
                <div data-bind="template: {name: 'fullItemTmpl'}"></div>
            <!-- /ko -->
        </div>
        <div class="col-md-offset-1 col-md-3">
            <h4>Trending Players</h4>
            <hr>
            <!-- ko foreach: players -->
                <div class="media">
                    <a class="pull-left" data-bind="attr: {href: '/players?id=' + id()}">
                        <img data-bind="attr: {src: imageUrl()}" class="img-thumbnail media-object"/>
                    </a>
                    <div class="media-body">
                        <h4 class="media-content"><a data-bind="attr: {href: '/players?id=' + id()}, text: name()"></a></h4>
                        <div data-bind="template: {name: 'followPlayerButton'}"></div>
                    </div>
                </div>
            <!-- /ko -->
            <br>
            <h4>Trending Tags</h4>
            <table class="table table-condensed table-striped">
                <tbody data-bind="foreach: tags">
                    <tr>
                        <td><a data-bind="text: text(), attr: {href: '/tags?tag=' + text()}"></a></td>
                        <td data-bind="text: value()"></td>
                        <td><div data-bind="template: {name: 'followTagButton'}"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

<script>
function Dashboard(){
    var self = this;
    ko.utils.extend(self, new Social());

    self.loading = ko.observable(true)
    self.items = ko.observableArray([])
    routes.controllers.Users.feed().ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                var item = parseItem(data[i]);
                if(item){
                    self.items.push(item)
                }
            }
            self.loading(false)
        },
        error: function(data){
            console.log(data)
            self.loading(false)
        }
    })

    self.players = ko.observableArray([])
    routes.controllers.Players.trending().ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                self.players.push(new Player(data[i]))
            }
        },
        error: function(data){
            console.log(data)
        }
    })

    self.tags = ko.observableArray([])
    routes.controllers.Tags.trending().ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                self.tags.push(new Tag(data[i]))
            }
        },
        error: function(data){
            console.log(data)
        }
    })

    self.save = function(item){
        var js = item.js();
        routes.controllers.Players.save().ajax({
            data: ko.toJSON(js),
            contentType: 'text/json',
            success: function(data){
                closeModal();
            },
            error: function(data){
                console.log(data);
            }
        })
    }
}

var dash = new Dashboard()
ko.applyBindings(dash)
</script>