@()

<div class="row" data-bind="visible: listMode()">
    <div class="col-md-offset-2 col-md-8 filter">
        <strong>Filter</strong>
    </div>
    <table class="table table-condensed col-md-offset-2 col-md-8">
        <tbody data-bind="foreach: players">
        <tr>
            <td><img data-bind="attr: {src: imageUrl()}" class="img-thumbnail"/></td>
            <td data-bind="text: name()"></td>
            <td data-bind="text: hw()"></td>
            <td data-bind="text: position()"></td>
            <td data-bind="text: 'Age: ' + age()"></td>
        </tr>
        </tbody>
    </table>
</div>