@(loginForm: Form[String])(implicit rh: RequestHeader)

@main("Login") {
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form method="POST" action="@routes.Application.auth">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="user" value="@loginForm("user").value" placeholder="Type any username to login">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-block btn-default">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
}
