@(playerId: Option[Long])(implicit rh: RequestHeader)

@main("Players", templates()) {
    <div class="row">
        <div class="sidebar col-md-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <h4 class="panel-title"><a>Player Filter</a></h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <strong>Position</strong>
                                        <br>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" data-bind="checked: filter().pg"> PG
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" data-bind="checked: filter().sg"> SG
                                        </label>
                                        <br>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" data-bind="checked: filter().sf"> SF
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" data-bind="checked: filter().pf"> PF
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" checked="checked" data-bind="checked: filter().c"> C
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs nav-stacked" data-bind="foreach: players">
                <li><a class="btn btn-large" data-bind="css: { 'btn-default': $root.selectedPlayer().id() != id(),
                                                               'btn-primary': $root.selectedPlayer().id() == id() } ,
                                                        click: $root.togglePlayer, text: firstName() + ' ' + lastName()">
                </a></li>
            </ul>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img data-bind="attr: {src: selectedPlayer().imageUrl()}" class="img-thumbnail media-object"/>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <span data-bind="text: selectedPlayer().name()"></span>
                            </h3>
                            <h4 data-bind="text: selectedPlayer().hw()"></h4>
                            <h4 data-bind="text: 'Age: ' + selectedPlayer().age()"></h4>
                            <h4 data-bind="text: 'Pos: ' + selectedPlayer().position()"></h4>
                            <h4 data-bind="text: 'Sch/Co: ' + selectedPlayer().school()"></h4>
                        </div>
                    </div>
                    <div class="btn-group">
                        <!-- ko template: { name: 'followPlayerButton', data:selectedPlayer()} --><!-- /ko -->
                        <a class="btn btn-default" href="#" onclick="showNote(this);"><i class="fa fa-plus"></i> Add Note</a>
                        <div data-bind="template: {name: 'addItemTmpl', data: newNote()}"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="flot" style="width:500px; height:200px;"></div>
                </div>
            </div>
            <hr>
            <div class="loading" data-bind="visible: selectedPlayer().loading()">
                <i class="fa fa-refresh fa-spin fa-3x"></i><span> Loading...</span>
            </div>
            <div data-bind="template: {name: 'fullItemTmpl', foreach: selectedPlayer().items}"></div>
        </div>
        <div class="col-md-3">
            <div class="btn-toolbar">
                <div class="btn-group" data-bind="foreach: apis">
                    <a href="#" class="btn" data-bind="css: { 'btn-default': $root.selectedApi() != $data,
                                                              'btn-primary': $root.selectedApi() == $data },
                                       click: $root.toggleApi">
                        <i data-bind="attr: {class: 'fa fa-' + $data}"></i>
                    </a>

                </div>
            </div>
            <div class="input-group">
                <input class="form-control" type="text" data-bind="value: searchTerm, valueUpdate: 'afterkeydown', event: { keypress: enterSearch}" placeholder="Search term">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: search">Search</button>
                </span>
            </div>
            <hr>
            <div class="search">
                <div class="loading" data-bind="visible: loading()">
                    <i class="fa fa-refresh fa-spin fa-3x"></i><span> Loading...</span>
                </div>
                <!-- ko if: selectedApi() == 'youtube' -->
                    <!-- ko foreach: videos -->
                    <div data-bind="event: { mouseover: toggleButton, mouseout: toggleButton}">
                        <div data-bind="template: {name: 'videoTmpl'}"></div>
                        <div class="itemFooter">
                            <a class="btn btn-small btn-default" data-bind="visible: showButton()" href="#" onclick="addItem(this);"><i class="fa fa-plus"></i> Add</a>
                        </div>
                        <div data-bind="template: {name: 'addItemTmpl'}"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: videos.length == 0 && !loading() -->
                    <p>No results found, please narrow your search term</p>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: selectedApi() == 'google' -->
                    <!-- ko foreach: articles -->
                    <div data-bind="event: { mouseover: toggleButton, mouseout: toggleButton}">
                        <div data-bind="template: {name: 'articleTmpl'}"></div>
                        <div class="itemFooter">
                            <a class="btn btn-small btn-default" data-bind="visible: showButton()" href="#" onclick="addItem(this);"><i class="fa fa-plus"></i> Add</a>
                        </div>
                        <div data-bind="template: {name: 'addItemTmpl'}"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: articles.length == 0 && !loading() -->
                    <p>No results found, please narrow your search term</p>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: selectedApi() == 'twitter' -->
                    <!-- ko foreach: tweets -->
                    <div data-bind="event: { mouseover: toggleButton, mouseout: toggleButton}">
                        <div data-bind="template: {name: 'tweetTmpl'}"></div>
                        <div class="itemFooter">
                            <a class="btn btn-small btn-default" data-bind="visible: showButton()" href="#" onclick="addItem(this);"><i class="fa fa-plus"></i> Add</a>
                        </div>
                        <div data-bind="template: {name: 'addItemTmpl'}"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: tweets.length == 0 && !loading() -->
                    <p>No results found, please narrow your search term</p>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
}

<script>
var list;
var selectedPlayerId;
@for(pid <- playerId){
    selectedPlayerId = @pid
}

routes.controllers.Players.list().ajax({
    success: function(data){
        list = new PlayerList(data, selectedPlayerId)
        ko.applyBindings(list)
    },
    error: function(data){
        console.log(data);
    }
})

function addItem(item){
    $(item).parent().next().children(":first").modal("show");
}
</script>