@()(implicit rh: RequestHeader)

@main("Rankings", templates()) {
    <div class="row">
        <div class="col-md-3">
            <h4>Skills</h4>
            <a class="btn btn-default" data-bind="click: addVariable">Add</a>
            <table class="table table-condensed">
                <tbody data-bind="foreach: variables">
                    <tr>
                        <td style="width: 65%">
                            <select class="form-control" data-bind="value: tag, optionsValue: 'text', optionsText: 'text', options: $root.tags, optionsCaption: 'Choose tag...'"></select>
                        </td>
                        <td style="width: 30%"><input type="text" class="form-control" data-bind="value: weight" placeholder="Weight"/></td>
                        <td><a class="btn btn-default" data-bind="click: $root.removeVariable"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" data-bind="visible: variables().length > 0, click: calculate">Calculate</a>
        </div>
        <div class="col-md-9">
            <h4>Rankings</h4>
            <!-- ko foreach: players -->
            <div class="row">
                <div class="media col-md-4">
                    <a class="pull-left" href="#">
                        <img width="48" height="65" data-bind="attr: {src: player().imageUrl()}" class="img-thumbnail media-object"/>
                    </a>
                    <div class="media-body">
                        <h4><a data-bind="text: player().name(), attr: {href: '/players?id=' + player().id()}"></a></h4>
                        <p data-bind="text: player().hw() + ' ' + player().position()"></p>
                    </div>
                </div>
                <ul class="col-md-4 list-unstyled" data-bind="foreach: $root.variables">
                    <li>
                        <strong data-bind="text: tag()"></strong>
                        <span data-bind="text: $parent.getTagScore($data)"></span>
                    </li>
                </ul>
                <h4 class="col-md-4" data-bind="text: 'Score: ' + rank()"></h4>
            </div>
            <hr>
            <!-- /ko -->
        </div>
    </div>
}

<script>
function Variable(tag, weight){
    var self = this;
    self.tag = ko.observable(tag)
    self.weight = ko.observable(weight)
}

function PlayerRank(data){
    var self = this;
    self.player = ko.observable(new Player(data.player))
    self.tags = ko.observableArray([])
    self.rank = ko.observable(0)
    if(data.tags){
        for(var i = 0; i < data.tags.length; i++){
            self.tags.push(new Tag(data.tags[i]))
        }
    }

    self.getTagScore = function(v){
        var tag = ko.utils.arrayFirst(self.tags(), function(t) {
            return t.text() == v.tag()
        });

        if(tag){
            console.log(tag)
            return tag.value()
        }
        return null
    }
}

function Dashboard(){
    var self = this;

    self.loading = ko.observable(true)
    self.allPlayers = ko.observableArray([])
    self.players = ko.observableArray([])
    self.variables = ko.observableArray([])
    self.tags = ko.observableArray([])

    routes.controllers.Players.fetch().ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                self.allPlayers.push(new PlayerRank(data[i]))
            }
            self.players(self.allPlayers())
            self.loading(false);
        },
        error: function(data){
            self.loading(false);
            console.log(data)
        }
    })

    routes.controllers.Tags.list().ajax({
        success: function(data){
            for(var i = 0; i < data.length; i++){
                self.tags.push(new Tag(data[i]));
            }
        },
        error: function(data){
            console.log(data)
        }
    })

    self.addVariable = function(){
        self.variables.push(new Variable())
        self.calculated(false)
    }

    self.removeVariable = function(v){
        self.variables.remove(v);
        self.calculated(false)
    }

    self.calculated = ko.observable(false)
    self.calculate = function(){
        for(var i = 0; i < self.allPlayers().length; i++){
            var player = self.allPlayers()[i]
            player.rank(0);
            for(var j = 0; j < self.variables().length; j++){
                var variable = self.variables()[j]
                var tag = ko.utils.arrayFirst(player.tags(), function(t) {
                    return t.text() == variable.tag()
                });
                if(tag){
                    player.rank(player.rank() + (tag.value() * variable.weight()))
                }
            }
        }
        self.players(self.allPlayers.filter(function(p){
            return p.rank() > 0
        })())
        self.players.sort(function(a, b){   return compare(b.rank(), a.rank())   })
        self.calculated(true)
    }
}

var dash = new Dashboard()
ko.applyBindings(dash)
</script>