@(tagName: Option[String])(implicit rh: RequestHeader)

@main("Tags", templates()) {

    <div class="row">
        <div class="sidebar col-md-2">
            <ul class="nav nav-tabs nav-stacked" data-bind="foreach: tags">
                <li><a class="btn btn-large" data-bind="css: { 'btn-default': $root.selectedTag().text() != text(),
                                                               'btn-primary': $root.selectedTag().text() == text() } ,
                                                        click: $root.toggleTag">
                    <span data-bind="text: text()"></span>
                </a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="loading" data-bind="visible: loading()">
                <i class="fa fa-refresh fa-spin fa-3x"></i><span> Loading...</span>
            </div>
            <h4>
                <span data-bind="text: 'Posts tagged ' + selectedTag().text()"></span>
                <div style="display: inline !important;" data-bind="template: {name: 'followTagButton', data: selectedTag()}"></div>
            </h4>
            <hr>
            <!-- ko foreach: items -->
            <div data-bind="template: {name: 'fullItemTmpl'}"></div>
            <!-- /ko -->
        </div>
        <div class="col-md-4">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Tag Count</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: leaders">
                    <tr>
                        <td>
                            <div class="media">
                                <a class="pull-left" data-bind="attr: {href: '/players?id=' + player().id()}">
                                    <img data-bind="attr: {src: player().imageUrl()}" class="img-thumbnail media-object"/>
                                </a>
                                <div class="media-body">
                                    <h4 class="media-content"><a data-bind="attr: {href: '/players?id=' + player().id()}, text: player().name()"></a></h4>
                                    <div data-bind="template: {name: 'followPlayerButton', data: player()}"></div>
                                </div>
                            </div>
                        </td>
                        <td data-bind="text: tagCount()"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

<script>
var list;
var selectedTagName;
@for(tag <- tagName){
    selectedTagName = '@tag';
}

routes.controllers.Tags.list().ajax({
    success: function(data){
        list = new TagList(data, selectedTagName)
        ko.applyBindings(list)
    },
    error: function(data){
        console.log(data);
    }
})
</script>