@()

<script src="@routes.Assets.at("javascripts/players.js")" type="text/javascript"/></script>
<script src="@routes.Assets.at("javascripts/tags.js")" type="text/javascript"/></script>

<script type="text/html" id="followPlayerButton">
    <!-- ko if: $root.followedPlayers.indexOf(id()) > -1 -->
        <a class="btn" data-bind="click: $root.unfollowPlayer,
                                  text: hoverText(),
                                  css: { 'btn-primary': !hover(), 'btn-danger': hover()},
                                  event: { mouseover: toggleHover, mouseout: toggleHover}">
        </a>
    <!-- /ko -->
    <!-- ko if: $root.followedPlayers.indexOf(id()) == -1 -->
    <a class="btn btn-default" data-bind="click: $root.followPlayer">Follow</a>
    <!-- /ko -->
</script>

<script type="text/html" id="followTagButton">
    <!-- ko if: $root.followedTags.indexOf(text()) > -1 -->
    <a class="btn" data-bind="click: $root.unfollowTag,
                                  text: hoverText(),
                                  css: { 'btn-primary': !hover(), 'btn-danger': hover()},
                                  event: { mouseover: toggleHover, mouseout: toggleHover}">
    </a>
    <!-- /ko -->
    <!-- ko if: $root.followedTags.indexOf(text()) == -1 -->
    <a class="btn btn-default" data-bind="click: $root.followTag">Follow</a>
    <!-- /ko -->
</script>

<script type="text/html" id="videoTmpl">
    <div class="media">
        <a class="pull-left" href="#" data-bind="attr: {url: videoUrl()}" onclick="showVideo(this);">
            <img class="media-object" data-bind="attr: {src: snippet.thumbnails.default.url()}">
        </a>
        <div class="media-body">
            <h5 class="media-heading">
                <small class="media-heading pull-right" data-bind="text: created()"></small>
            </h5>
            <div data-bind="html: '<p>' + snippet.title() + '</p>'"></div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Watch Video</h4>
                </div>
                <div class="modal-body">
                    <iframe type="text/html" width="800" height="500"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="articleTmpl">
    <div class="media">
        <div class="media-body">
            <h5 class="media-heading">
                <a target="_blank" data-bind="attr: {href: link()}, text: title()"></a>
            </h5>
            <div data-bind="html: '<p>' + htmlSnippet() + '</p>'"></div>
        </div>
    </div>
</script>
<script type="text/html" id="tweetTmpl">
    <div class="media">
        <div class="media-body">
            <h5 class="media-heading">
                <a data-bind="text: user.name(), attr: {href: userUrl()}" target="_blank"></a>
                <small class="media-heading pull-right" data-bind="text: created()"></small>
            </h5>
            <div data-bind="html: '<p>' + body() + '</p>'"></div>
        </div>
    </div>
</script>
<script type="text/html" id="itemTmpl">
    <!-- ko if: itemId() == 'article' -->
        <div data-bind="template: {name: 'articleTmpl'}"></div>
    <!-- /ko -->
    <!-- ko if: itemId() == 'tweet' -->
        <div data-bind="template: {name: 'tweetTmpl'}"></div>
    <!-- /ko -->
    <!-- ko if: itemId() == 'video' -->
        <div data-bind="template: {name: 'videoTmpl'}"></div>
    <!-- /ko -->
    <!-- ko if: itemId() == 'note' -->
        <textarea class="form-control" data-bind="value: item" rows="5" placeholder="Enter any link or plaintext describing this player"></textarea>
    <!-- /ko -->
</script>
<script type="text/html" id="fullItemTmpl">
    <div class="row" data-bind="event: { mouseover: toggleButton, mouseout: toggleButton}">
        <div class="col-md-6">
            <!-- ko if: itemId() == 'article' -->
            <div data-bind="template: {name: 'articleTmpl'}"></div>
            <!-- /ko -->
            <!-- ko if: itemId() == 'tweet' -->
            <div data-bind="template: {name: 'tweetTmpl'}"></div>
            <!-- /ko -->
            <!-- ko if: itemId() == 'video' -->
            <div data-bind="template: {name: 'videoTmpl'}"></div>
            <!-- /ko -->
            <!-- ko if: itemId() == 'note' -->
            <div data-bind="html: body()"></div>
            <!-- /ko -->
        </div>
        <ul class="col-md-2 list-unstyled" data-bind="foreach: tags">
            <li>
                <span class="label label-default" data-bind="text: value() > 0 ? value() + ' ' + text() : text(), css: {
                                                                 'label-success': value() > 3,
                                                                 'label-warning': value() == 3,
                                                                 'label-danger': value() < 3 && value() > 0}"></span>
            </li>
        </ul>
        <div class="col-md-4">
            <div class="bubble left" data-bind="html: notes()"></div>
            <small class="pull-right" data-bind="text: updateDateStr() + ' by ' + createdBy()"></small>
            <a class="btn btn-default btn-small" data-bind="visible: showButton()" href="#" onclick="showNote(this);"><i class="fa fa-edit"></i> Edit</a>
            <div data-bind="template: {name: 'addItemTmpl'}"></div>
        </div>
    </div>
    <hr>
</script>

<script type="text/html" id="addItemTmpl">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Add Post</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Post</label>
                            <div class="col-md-10" data-bind="template: {name: 'itemTmpl'}"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tags</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" data-bind="value: tagText, valueUpdate: 'afterkeydown', event: { keypress: createTag }" placeholder="Type a tag name here and hit Enter to add"/>
                                <table class="table table-condensed">
                                    <tbody data-bind="foreach: tags">
                                        <tr>
                                            <td>
                                                <span class="label label-default label-lg" style="float:right;">
                                                    <span data-bind="text: text"></span>
                                                    <i class="fa fa-times pointer" data-bind="click: $parent.removeTag"></i>
                                                </span>
                                            </td>
                                            <td>
                                                <i class="fa star pointer" data-bind="click: function(){ setTagValue(1) },
                                                                                      css: {'fa-star-o': value() < 1, 'fa-star': value() > 0}"></i>
                                                <i class="fa star pointer" data-bind="click: function(){ setTagValue(2) },
                                                                              css: {'fa-star-o': value() < 2, 'fa-star': value() > 1}"></i>
                                                <i class="fa star pointer" data-bind="click: function(){ setTagValue(3) },
                                                                              css: {'fa-star-o': value() < 3, 'fa-star': value() > 2}"></i>
                                                <i class="fa star pointer" data-bind="click: function(){ setTagValue(4) },
                                                                              css: {'fa-star-o': value() < 4, 'fa-star': value() > 3}"></i>
                                                <i class="fa star pointer" data-bind="click: function(){ setTagValue(5) },
                                                                              css: {'fa-star-o': value() < 5, 'fa-star': value() > 4}"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Notes</label>
                            <div class="col-md-10">
                                <textarea class="form-control" data-bind="value: notes" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.save" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
function showVideo(img){
    var url = $(img).attr("url");
    $(img).parent().next().find("iframe").attr("src", url);
    $(img).parent().next().modal("show");

    $(".modal").on('hidden.bs.modal', function(e) {
        $iframe = $(this).find( "iframe" );
        $iframe.attr("src", $iframe.attr("src"));
    });
}
</script>